body {
    color: #333333;
    background-color: #99eeff; 
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

div#usertop {
  position: abolute;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  background-color: #440044;
  padding: 0px;
  margin: 0px;
  color: yellow;
}

div#usertop p { margin: 0px; padding: 8px; }
div#usertop a:link { color: white; }
div#usertop a:link { color: white; }
div#usertop a:hover { color: white;}
div#usertop a:visited { color: white;}

div#formular { margin-left: auto; margin-right: auto;  text-align: center; padding: 30px; margin-top: 50px; }
div#formular_innen { margin-left: auto; margin-right: auto; text-align: center; border-radius: 25px; border: 2px solid #73AD21; padding: 20px; width: 340px; height: 150px; background-color: yellow; }


/* Kalender */
.samstag { color: blue; background-color: #ccccff; }
.sonntag { color: red; background-color: #ffcccc; }

table.calendar		{ border-left:1px solid #999; }
td.calendar-day-head { background: #ccc; font-weight:bold; text-align:center; width:3em; padding:5px; border-bottom:1px solid #999; border-top:1px solid #999; border-right:1px solid #999; }
td.calendar-day:hover { background: #eceff5; }
td.calendar-day-np	{ background:#eee; }  /*leer */
/* td.calendar-day, td.calendar-day-np { width:5em; padding:5px; border-bottom:1px solid #999; border-right:1px solid #999; } */
table.calendar div { text-align: center ;}
table.calendar a { text-decoration: none;}
table.calendar div a { color: #000099;}

table.calendar a { display: block; }

#aktiv { background-color: #33ffff; font-weight: bold; }
#aktiv a:link { color: black; }
#aktiv a:link { color: black; }
#aktiv a:hover { color: black;}
#aktiv a:visited { color: black;}

.heute a { font-weight: bold; }
.heute a:link { font-weight: bold; }
.heute a:hover { font-weight: bold; }
.heute a:visited { font-weight: bold; }

td#vor, td#nach, td#datum {
  text-align: center;
  font-size: 140%;
  font-weight: bold;
}

table#user_admin, table#user_admin th, table#user_admin td {
    border: 1px solid black;
	border-spacing: 15px;
    border-collapse: collapse;
}

table#user_admin th { padding: 10px; }
table#user_admin td { padding: 5px 16px 5px 16px; }
table#user_admin td:nth-child(1) { padding-left: 2em; }

table#user_admin tr:nth-child(even) {
    background-color: #eee;
}
table#user_admin tr:nth-child(odd) {
    background-color: #fff;
}
table#user_admin th {
    color: white;
    background-color: black;
} 
