body {
    color: #333333;
    background-color: #99eeff; 
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    background-image: url("bilder/mfgc.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
}

nav {
  position: sticky;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  background-color: #440044;
  padding: 0px;
  margin: 0px;
  color: yellow;
}

nav div { margin: 0px; padding: 12px; font-size: 120%; }
nav a:link { color: white; }
nav a:link { color: white; }
nav a:hover { color: white;}
nav a:visited { color: white;}

table.formular_eingabe td:nth-child(1) { text-align: right;}
table.formular_eingabe td:nth-child(2) { text-align: left; padding-left: 8px;}
table.formular_eingabe td:nth-child(2) input { width: 90%;}


main { margin-top: 0px; margin-left: auto; margin-right: auto; text-align: center; }

form.login_form input { width: 80%; }

/*div#formular { margin-left: auto; margin-right: auto;  text-align: center; padding: 30px; margin-top: 150px; }*/
div#formular_innen { margin-top: 100px; display: inline-block; margin-left: auto; margin-right: auto; text-align: center; border-radius: 25px; border: 2px solid #73AD21; padding: 20px;  background-color: yellow; }

/* center-stuff */
.center {
    text-align: center;
}
.center > div, .center > table /* insert any other block-level elements here */ {
    margin-left: auto;
    margin-right: auto;
}

/* Kalender */
.samstag { color: blue; background-color: #dddd33; }
.sonntag { color: red; background-color: #ffaaaa; }

table.calendar { border:1px solid #999; background-color: yellow; box-shadow: 6px 4px 8px #6699cc; }
td.calendar-day-head { background: #ccc; font-weight:bold; text-align:center; width:3em; padding:5px; border-bottom:1px solid #999; border-top:1px solid #999; border-right:1px solid #999; }
td.calendar-day:hover { background: #ccccff; }
td.calendar-day-np	{ background: transparent; }  /*leer */
/* td.calendar-day, td.calendar-day-np { width:5em; padding:5px; border-bottom:1px solid #999; border-right:1px solid #999; } */
table.calendar div { text-align: center ;}
table.calendar a { text-decoration: none;}
table.calendar div a { color: #000099;}

table.calendar a { display: block; padding: 3px;}

#aktiv { background-color: #ffffff; font-weight: bold; border:1px solid #ff0000;}
#aktiv a:link { color: black; }
#aktiv a:link { color: black; }
#aktiv a:visited { color: black;}
#aktiv a:hover { color: black;}

.vergangenheit a { background-color: #0000cc; color: #cccccc;  }
.vergangenheit a:link { background-color: #ffffcc; color: #cccccc;   }
.vergangenheit a:visited { background-color: #ffffcc; color: #cccccc;   }
.vergangenheit a:hover { background: #ccccff; color: #aaaaaa;   }
/* hover muss nach visited kommen.. um es durchzusetzen in firefox */

.heute a { font-weight: bold; }
.heute a:link { font-weight: bold; }
.heute a:visited { font-weight: bold; }
.heute a:hover { font-weight: bold; }


td#vor, td#nach, td#datum {
  text-align: center;
  font-size: 140%;
  font-weight: bold;
}

table.user_admin, table.user_admin th, table.user_admin td {
    border: 1px solid black;
	border-spacing: 15px;
    border-collapse: collapse;
}

table.user_admin th { padding: 10px; }
table.user_admin td { padding: 5px 16px 5px 16px; text-align: left; }
table.user_admin td:nth-child(1) { padding-left: 2em; }

table.user_admin tr:nth-child(even) {
    background-color: #eee;
}
table.user_admin tr:nth-child(odd) {
    background-color: #fff;
}
table.user_admin th {
    color: white;
    background-color: black;
} 

.submit_button { margin-top: 20px; }

h1 { text-shadow: 2px 2px 1px #9ff, 3px 3px 2px #aaaa00; }
